{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
        <div class="row mt-1">
            <div class="col-3 mt-3">
                <h1>Sign In</h1>
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div>
                        {{ form.userid.label(class="form-label") }}<br>
                        {{ form.userid(class="form-control",size=32) }}
                        {% for error in form.userid.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-check mt-2">
                        <div>
                            {{ form.remember_me(class="form-check-input") }}
                        </div>
                        <label class="form-check-label">
                            {{ form.remember_me.label }}
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">{{ submit }}Submit</button>
                </form>
            </div>
        </div>
<p class="mt-2">New User? <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover " href="{{ url_for('register') }}">Click to Register!</a></p>
        {% for shop in shops %}
                {% include '_shop_table.html' %}
            {% endfor %}
        {% endblock %}
</div>


