{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="py-3">
        <a class="btn btn-outline-primary btn-sm" href="{{ url_for('home', id=current_user.id) }}" role="button">
            <i class="bi bi-arrow-left"></i>
            To sell
        </a>
    </div>
    <h1>Receipt Number: {{receipt_number}}</h1>
    <div class="row">
        <table class="table-borderless mx-3">
            <tbody>
                {% for receipt2 in receipt1 %}

                    <tr>
                        <td class="text-secondary">
                        Product: {{ receipt2.sale.product}} | Quantity: {{ receipt2.quantity}} | Price: {{ receipt2.price}}
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
        <h2 class="text-secondary ">Total price: {{ receipt1 | sum(attribute='price') }}</h2>
        <div class="col-3">
            <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="my-2">
                {{ form.product_id.label(class="form-label") }}
                {{ form.product_id(class="form-control",size=32) }}
                {% for error in form.product_id.errors %}
                    <div class="text-danger ">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
            <div class="my-2">
                {{ form.quantity.label(class="form-label") }}
                {{ form.quantity(class="form-control",size=32) }}
                {% for error in form.quantity.errors %}
                    <div class="text-danger ">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
            <div class="my-3">
                <button type="submit" class="btn btn-primary">{{ send }}To Send</button>
            </div>

        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <h2 class="text-secondary mt-2">Your warehouse:</h2>
        <div>
            <a href="{{ url_for('export_csv') }}" class="btn btn-outline-success" >Export CSV</a>
        </div>
    </div>
    <table class="table text-center table-bordered table-striped ">
        <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody class="select">
            {% for product in warehouse %}
                {% include '_table_warehouse.html' %}
            {% endfor %}
        </tbody>

    </table>

</div>

{% endblock %}
